.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.student {
  text-decoration: none;
  color: black;
  cursor: pointer;
  /* width: 100px; */
}


#chart {
  width: 600px;
}

.signin-form {
  display: flex;
  width: 200px;
  flex-direction: column;
  align-items: center;
  padding: 10rem;
  margin: 100px 0 0 35%;
  border: 1px solid lightgray;
  border-radius: 10px;
  box-shadow: 5px 5px lightgray;

}

.row {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.page-not-found div {
  text-align: left;
  width: 440px;
  font-size: 20px;
  margin-bottom: 20px;
}

.signin {
  text-decoration: none;
  padding: .7em;
  margin-right: 2em;
  outline: none;
  border: 1px solid white;
  cursor: pointer;
  background: rgb(26, 158, 158);
  color: white;
  padding: 1em 12em;
  margin-left: 30px;
  border-radius: .5rem;
}

.signout {
  text-decoration: none;
  padding: 1em 2em;
  margin-right: 2em;
  outline: none;
  border: 1px solid white;
  cursor: pointer;
  background: white;
  text-decoration: none;
  color: black;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 15px;
}

.signout-res {
  display: none;
}

strong {
  font-size: 30px;
}

.student-grid {
  margin: 100px 0px 0px 0px;
  display: flex;
  flex-direction: column;
}

.sort-icon strong {
  margin: 0;
  margin-left: 30px;
  font-size: 20px;
}

.sort-icon {
  width: 40px;
  height: 40px;
  margin-top: -10px;
}

.sort-icon-mark {
  height: 20px;
  margin: 0;
  width: 40px;
}

.button-text {
  margin: 0;
}

.order {
  display: flex;
}

li {
  width: 500px;
  margin-bottom: 20px;
  font-size: 20px;
  color: gray;
}

.search-length {
  text-align: center;
  font-size: 22px;
  margin-bottom: 50px;
}

.go-back {
  font-size: 16px;
  font-family: Helvetica;
  background: #29b8eb;
  border-radius: 100px;
  padding: 10px 10px;
  text-align: center;
  width: 100px;
  margin: auto;
  cursor: pointer;
  text-decoration: none;
  color: white;
}


.topNav {
  display: none;
}

.responsive {
  display: none;
}

.blur {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.student-img {
  width: 200px;
  height: 150px;
}


@media (min-width: 550px) and (max-width : 1120px) {
  .signin-form {
    margin: 200px 250px;
  }

  .search-length {
    margin: 50px 20px -50px 60px;
    font-size: 18px;
    text-align: center;
  }


  .signout {
    /* width: 150px; */
    text-align: center;
    /* margin-left: 50px; */
  }
}

@media(max-width : 550px) {

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width:100%;
    background: #529ba5;
    padding: 10px;
  }

  .make-blur {
    display: block;
  }

  .student-grid {
    /* margin: 150px 60px 0px 20px; */
    margin: 0;
  }

  .student-img {
    width: 100px;
    height: 80px;
    margin: auto;
    margin-bottom: 5px;
  }


  #chart {
    width: 300px;
  }

  .signout {
    /* width: 100px; */
    text-align: center;
    margin: 0;
    margin-right: 20px;
    margin-top:30px;
    padding: 10px 15px;
  }

  .signout-res {
    display: block;
    /* padding: 0; */
  }

  strong {
    font-size: 20px;
  }

  li {
    width: 270px;
    font-size: 15px;
  }

  .signin-form {
    padding: 3em;
    margin: 170px 30px;
  }

  .signin {
    padding: 10px 110px;
  }

  .search-length {
    margin: 60px 20px -30px 20px;
    font-size: 18px;
    text-align: center;
  }

  .page-not-found {
    margin: 7% 0px 0 20px;

  }

  .page-not-found div {
    text-align: left;
    width: 200px;
    font-size: 20px;
    margin: 0;
    margin-bottom: 20px;

  }


  .responsive {
    display: block;
  }

  .close-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
  }
}